apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-agent-params
data:
  # principal.listen.host: The interface address to listen on. Leave empty
  # for all interfaces.
  # Default: ""
  principal.listen.host: ""
  # principal.listen.port: The port the gRPC server should listen on.
  # Default: 8443
  principal.listen.port: "8443"
  # principal.log.level: The logging level to use. One of trace, debug, info,
  # warn or error.
  # Default: info
  principal.log.level: info
  # principal.metrics.port: The port the metrics server should listen on.
  # Default: 8000
  principal.metrics.port: "8000"
  # principal.namespace: The namespace the principal will operate in. If left
  # blank, the namespace where the pod is running in will be used.
  # Default: "argocd"
  principal.namespace: "argocd"
  # principal.allowed-namespaces: A list of namespaces the principal shall
  # watch and process Argo CD resources in. Seperate entries using commas.
  # Entries may contain shell-style wildcards.
  # Default: ""
  principal.allowed-namespaces: ""
  # principal.namespace-create.enable: Whether the principal is allowed to
  # create namespaces for agents if they don't exist yet. Either "true" or
  # "false".
  # Default: "false"
  principal.namespace-create.enable: "false"
  # principal.namespace-create.pattern: A regexp pattern to restrict the names
  # of namespaces to be created. If empty, all patterns are allowed.
  # Default: ""
  principal.namespace-create.pattern: ""
  # principal.namespace-create.labels: A set of labels to apply to namespaces
  # created for agents. Each label definition needs to be in the format of
  # "key=value". Empty values are not allowed. Multiple labels can be given
  # as a comma separated list, e.g. "foo=bar,bar=baz"
  principal.namespace-create.labels: ""
  # principal.tls.secret-name: The name of the secret containing the TLS certificate and key.
  # Default: ""
  principal.tls.secret-name: ""
  # principal.tls.server.cert-path: Path to the TLS certificate to be used by
  # the gRPC server.
  # Default: ""
  principal.tls.server.cert-path: ""
  # principal.tls.server.key-path: Path to the TLS private key to be used by
  # the gRPC server.
  # Default: ""
  principal.tls.server.key-path: ""
  # principal.tls.server.allow-generate: Whether to allow the principal to
  # generate its own set of TLS cert and key on startup when none are
  # configured. This is insecure. Do only use for development.
  # Default: false
  principal.tls.server.allow-generate: "false"
  # principal.tls.client-cert.require: Whether to require client certs from
  # agents upon connection.
  # Default: false
  principal.tls.client-cert.require: "false"
  # principal.tls.server.secret-name: The name of the secret containing the root CA TLS certificate.
  # Default: ""
  principal.tls.server.root-ca-secret-name: ""
  # principal.tls.server.root-ca-path: Path to a TLS root certificate authority
  # to be used to validate agent's client certificates against.
  # Default: ""
  principal.tls.server.root-ca-path: ""
  # principal.tls.client-cert.match-subject: Whether to match the subject field
  # in a client certificate presented by an agent to the agent's name.
  # Default: false
  principal.tls.client-cert.match-subject: "false"
  # principal.resource-proxy.secret-name: The name of the secret containing
  # the TLS certificate and key for the resource proxy.
  # Default: ""
  principal.resource-proxy.secret-name: ""
  # principal.resource-proxy.tls.cert-path: Path to the TLS certificate to be used by
  # the resource proxy.
  # Default: ""
  principal.resource-proxy.tls.cert-path: ""
  # principal.resource-proxy.tls.key-path: Path to the TLS private key to be used by
  # the resource proxy.
  # Default: ""
  principal.resource-proxy.tls.key-path: ""
  # principal.resource-proxy.ca.secret-name: The name of the secret containing
  # the CA certificate for the resource proxy.
  # Default: ""
  principal.resource-proxy.ca.secret-name: ""
  # principal.resource-proxy.ca.path: Path to the CA certificate to be used by
  # the resource proxy.
  # Default: ""
  principal.resource-proxy.ca.path: ""
  # principal.jwt.allow-generate: Whether to allow the principal to generate
  # its own private key for signing JWT tokens. This is insecure. Do only use
  # for development.
  # Default: false
  principal.jwt.allow-generate: "false"
  # principal.jwt.secret-name: The name of the secret containing the JWT signing key.
  # Default: ""
  principal.jwt.secret-name: ""
  # principal.jwt.key-path: Path to the private key to be used for signing JWT
  # tokens.
  # Default: ""
  principal.jwt.key-path: ""
  # principal.auth: The authentication method. Must be in the
  # format <method>:<configuration>. Valid values are:
  # - "userpass:_path_to_encrypted_creds_" where _path_to_encrypted_creds_ is
  #   the path to the file containing encrypted credentials for authenticating
  #   agent connections.
  # - "mtls:_agent_id_regex_" where _agent_id_regex_ is the regex pattern for
  #   extracting the agent ID from client cert subject.
  # Default: userpass:_path_to_encrypted_creds_
  principal.auth: "userpass:/app/config/userpass/passwd"
