resources:
- https://github.com/argoproj/argo-cd/manifests/cluster-install?ref=stable

patches:
# Get rid of everything related to the application controller
- patch: |-
    $patch: delete
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: argocd-application-controller
- patch: |-
    $patch: delete
    apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name: argocd-application-controller-network-policy
- patch: |-
    $patch: delete
    apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: argocd-application-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: Role
    metadata:
      name: argocd-application-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: RoleBinding
    metadata:
      name: argocd-application-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      name: argocd-application-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    metadata:
      name: argocd-application-controller
# Get rid of everything related to applicationsets
- patch: |-
    $patch: delete
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: argocd-applicationset-controller
- patch: |-
    $patch: delete
    apiVersion: v1
    kind: Service
    metadata:
      name: argocd-applicationset-controller
- patch: |-
    $patch: delete
    apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name: argocd-applicationset-controller-network-policy
- patch: |-
    $patch: delete
    apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: argocd-applicationset-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: Role
    metadata:
      name: argocd-applicationset-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: RoleBinding
    metadata:
      name: argocd-applicationset-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      name: argocd-applicationset-controller
- patch: |-
    $patch: delete
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    metadata:
      name: argocd-applicationset-controller
- target:
    group: rbac.authorization.k8s.io
    version: v1
    kind: ClusterRole
    name: argocd-server
  patch: |-
    - op: add
      path: /rules/-
      value:
        apiGroups: ["argoproj.io"]
        resources: ["applications"]
        verbs: ["update"]
- target:
    group: networking.k8s.io
    version: v1
    kind: NetworkPolicy
    name: argocd-redis-network-policy
  patch: |-
    - op: add
      path: /spec/ingress/0/from/-
      value:
        podSelector:
          matchLabels:
            app.kubernetes.io/name: argocd-agent-principal