apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: argocd-agent-agent
  name: argocd-agent-agent
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-agent-agent
      app.kubernetes.io/part-of: argocd-agent
      app.kubernetes.io/component: agent
  template:
    metadata:
      labels:
        app.kubernetes.io/name: argocd-agent-agent
        app.kubernetes.io/part-of: argocd-agent
        app.kubernetes.io/component: agent
    spec:
      containers:
        - args:
            - agent
          env:
          - name: ARGOCD_AGENT_REMOTE_SERVER
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.server.address
                optional: true
          - name: ARGOCD_AGENT_REMOTE_PORT
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.server.port
                optional: true
          - name: ARGOCD_AGENT_LOG_LEVEL
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.log.level
                optional: true
          - name: ARGOCD_AGENT_RESOURCE_PROXY_LOG_LEVEL
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.log.resource-proxy-level
                optional: true
          - name: ARGOCD_AGENT_REDIS_PROXY_LEVEL
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.log.redis-proxy-level
                optional: true
          - name: ARGOCD_AGENT_GRPC_LOG_LEVEL
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.log.grpc-level
                optional: true
          - name: ARGOCD_AGENT_NAMESPACE
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.namespace
                optional: true
          - name: ARGOCD_AGENT_TLS_SECRET_NAME
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.tls.secret-name
                optional: true
          - name: ARGOCD_AGENT_TLS_CLIENT_CERT_PATH
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.tls.client.cert-path
                optional: true
          - name: ARGOCD_AGENT_TLS_CLIENT_KEY_PATH
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.tls.client.key-path
                optional: true
          - name: ARGOCD_AGENT_TLS_INSECURE
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.tls.client.insecure
                optional: true
          - name: ARGOCD_AGENT_TLS_ROOT_CA_SECRET_NAME
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.tls.root-ca-secret-name
                optional: true
          - name: ARGOCD_AGENT_TLS_ROOT_CA_PATH
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.tls.root-ca-path
                optional: true
          - name: ARGOCD_AGENT_TLS_MIN_VERSION
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.tls.min-version
                optional: true
          - name: ARGOCD_AGENT_TLS_MAX_VERSION
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.tls.max-version
                optional: true
          - name: ARGOCD_AGENT_TLS_CIPHERSUITES
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.tls.ciphersuites
                optional: true
          - name: ARGOCD_AGENT_MODE
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.mode
                optional: true
          - name: ARGOCD_AGENT_CREDS
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.creds
                optional: true
          - name: ARGOCD_AGENT_METRICS_PORT
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.metrics.port
                optional: true
          - name: ARGOCD_AGENT_HEALTH_CHECK_PORT
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.healthz.port
                optional: true
          - name: ARGOCD_PRINCIPAL_LOG_FORMAT
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.log.format
                optional: true
          - name: ARGOCD_AGENT_ENABLE_WEBSOCKET
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.websocket.enable
                optional: true
          - name: ARGOCD_AGENT_ENABLE_COMPRESSION
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.compression.enable
                optional: true
          - name: ARGOCD_AGENT_KEEP_ALIVE_PING_INTERVAL
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.keep-alive.interval
                optional: true
          - name: ARGOCD_AGENT_PPROF_PORT
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.pprof.port
                optional: true
          - name: REDIS_ADDR
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.redis.address
                optional: true
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: argocd-redis
                key: auth
          - name: ARGOCD_AGENT_ENABLE_RESOURCE_PROXY
            valueFrom:
              configMapKeyRef:
                name: argocd-agent-params
                key: agent.resource-proxy.enable
                optional: true
          image: argocd-agent
          imagePullPolicy: Always
          name: argocd-agent-agent
          ports:
            - containerPort: 8000
              name: metrics
            - containerPort: 8002
              name: healthz
          securityContext:
            capabilities:
              drop:
                - ALL
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: userpass-passwd
              mountPath: /app/config/creds
      serviceAccountName: argocd-agent-agent
      volumes:
      - name: userpass-passwd
        secret:
          secretName: argocd-agent-agent-userpass
          items:
          - key: credentials
            path: userpass.creds
          optional: true
